.panels {
  background-color: inherit;
  bottom: 0;
  display: block;
  min-height: 460px;
  position: relative;
  top: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 2;
}
.panels.hide {
  display: none;
  height: 0;
  width: 0;
}
.intro-transition .panels,
.lab .panels {
  background-color: transparent;
}
.js .hidehome .panels {
  opacity: 0;
}
.js .hidehome.home .panels {
  opacity: 1;
}
.panel {
  background: #888;
  color: #fff;
  display: block;
  min-width: 320px;
  padding-bottom: 15px;
  position: relative;
  text-decoration: none;
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s, transform 0.5s;
  width: 100%;
}
.panel:hover .color {
  z-index: 3;
}
.panel:hover .content {
  z-index: 4;
}
.panel:nth-child(2) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.02222s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.02222s;
}
.panel:nth-child(3) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.13333s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.13333s;
}
.panel:nth-child(4) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.24444s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.24444s;
}
.panel:nth-child(5) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.35556s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.35556s;
}
.panel:nth-child(6) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.46667s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.46667s;
}
.panel:nth-child(7) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.57778s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.57778s;
}
.panel:nth-child(8) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.68889s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.68889s;
}
.panel:nth-child(9) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.8s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.8s;
}
.panel:nth-child(10) {
  -webkit-transition: background-color 0.35s, color 0.35s, margin 0.45s,
    -webkit-transform 0.5s ease-out 0.91111s;
  transition: background-color 0.35s, color 0.35s, margin 0.45s,
    transform 0.5s ease-out 0.91111s;
}
.no-transition .panel {
  -webkit-transition: none;
  transition: none;
}
.panel .small {
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 0 2px;
  text-transform: uppercase;
}
.panel h1 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}
.panel .excerpt {
  display: block;
  font-size: 15px;
  line-height: 23px;
  opacity: 0.5;
  margin-top: 28px;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.panel .read {
  bottom: 30px;
  display: block;
  position: absolute;
}
.panel .read .icon {
  display: block;
  float: left;
  font-size: 17px;
  margin: -2px 0 0 -2px;
  padding: 0 6px 0 0;
  text-transform: none;
}
.panel .footer {
  background-color: rgba(0, 0, 0, 0.23);
  bottom: 10px;
  height: 81px;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.selected .color,
.selected:hover .color {
  z-index: 15;
}
.selected .content,
.selected:hover .content {
  z-index: 17;
}
.panel .color {
  background-color: inherit;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  width: 320px;
  z-index: 1;
}
.panel.selected .content {
  opacity: 0;
}
.panel .content {
  height: auto;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  width: 100%;
  z-index: 2;
}
.panel .content .fixed {
  padding: 44px 38px 68px;
}
.decolor,
#portfolio .decolor {
  background: #888;
}
#portfolio .offblack {
  background: #181818;
}
#portfolio .orange {
  background: #e8846b;
}
#portfolio .navy {
  background: #16528e;
}
#portfolio .red {
  background: #e54b4b;
}
#portfolio .lime {
  background: #a2c5bf;
}
#portfolio .green {
  background: #167c80;
}
#portfolio .blue {
  background: #0082c8;
}
#portfolio .purple {
  background: #72616e;
}
.article {
  background: #fff;
  color: #2d2d2d;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 950px;
  opacity: 0;
  padding: 0;
  position: relative;
  top: 52px;
  -webkit-transform: translate3d(0, 300px, 0);
  transform: translate3d(0, 300px, 0);
  -webkit-transition: border-color 0.3s ease-in-out 0.05s, opacity 0.3s,
    padding 0 linear 0.3s, -webkit-transform 0.3s, width 0 linear 0.3s;
  transition: border-color 0.3s ease-in-out 0.05s, opacity 0.3s,
    padding 0s linear 0.3s, transform 0.3s, width 0s linear 0.3s;
  width: 0;
}
.article.hide {
  height: 0;
  overflow: hidden;
}
.article .post {
  width: 100%;
}
.article h1 {
  color: #2d2d2d;
  font-size: 40px;
  line-height: 48px;
  margin: 8px auto 0;
  max-width: 640px;
  text-align: center;
}
.article .small {
  color: #c8c8c8;
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 0 2px;
  text-align: center;
  text-transform: uppercase;
}
.single-post .article {
  min-height: 100%;
  opacity: 1;
  padding: 28px 5% 75px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: border-color 0.3s ease-in-out 0.05s, opacity 0.3s,
    padding 0, -webkit-transform 0.3s, width 0;
  transition: border-color 0.3s ease-in-out 0.05s, opacity 0.3s, padding 0s,
    transform 0.3s, width 0s;
  width: 100%;
}
.post-content {
  margin: 0 auto;
  max-width: 640px;
  padding: 9px 0 0;
}
.post-content img {
  max-width: 100%;
}
.post-content p {
  margin: 25px 0;
}
.post-content a {
  color: #16528e;
  text-decoration: none;
}
.post-content a:hover {
  text-decoration: underline;
}
.nudge-right.single-post .article {
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
.nudge-left.single-post .article {
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}
.slideoff-right.single-post .article {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.prepare.slideoff-right.single-post .article {
  -webkit-transition: none;
  transition: none;
}
.prepare.slideoff-right.single-post .article,
.slideoff-left.single-post .article {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.prepare.slideoff-left.single-post .article {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: none;
  transition: none;
}
.slideoff-right.single-post .article,
.slideoff-left.single-post .article {
  opacity: 0;
}
.decolor .article {
  border-left: 3px solid #888;
  border-right: 3px solid #888;
}
.offblack .article {
  border-left: 3px solid #181818;
  border-right: 3px solid #181818;
}
.orange .article {
  border-left: 3px solid #e8846b;
  border-right: 3px solid #e8846b;
}
.navy .article {
  border-left: 3px solid #16528e;
  border-right: 3px solid #16528e;
}
.red .article {
  border-left: 3px solid #e54b4b;
  border-right: 3px solid #e54b4b;
}
.lime .article {
  border-left: 3px solid #a2c5bf;
  border-right: 3px solid #a2c5bf;
}
.green .article {
  border-left: 3px solid #167c80;
  border-right: 3px solid #167c80;
}
.blue .article {
  border-left: 3px solid #0082c8;
  border-right: 3px solid #0082c8;
}
.purple .article {
  border-left: 3px solid #72616e;
  border-right: 3px solid #72616e;
}
.error404 .wrap404 {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.wrap404 {
  background: url(http://placekitten.com/g/600/300) no-repeat center center
    fixed;
  background-size: cover;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 52px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 1;
}
.wrap404 h1 {
  display: block;
  font-size: 90px;
  left: 50%;
  line-height: inherit;
  margin: 0;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.lab .labwrap {
  bottom: 0;
  opacity: 1;
  width: 100%;
}
.lab .labwrap .greyscale {
  cursor: none;
}
.labwrap {
  bottom: auto;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 2;
}
@media (min-width: 570px) {
  body.intro-transition,
  body.showheader,
  body.page {
    overflow: hidden;
  }
  .no-js body.intro-transition {
    overflow: visible;
  }
  .single-post .site {
    padding-bottom: 52px;
  }
  .showheader .site,
  .page .site {
    top: 298px;
  }
  .js .intro:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .site-block {
    display: block;
  }
  .contact-button {
    margin: 0 10px;
  }
  .next-button.vertical {
    display: none;
  }
  .next-button.horizontal {
    display: block;
  }
  .next-button {
    bottom: 0;
    height: 53px;
    position: fixed;
    right: 0;
    width: 53px;
    z-index: 10;
  }
  .next-button:before {
    content: '/';
    top: 0;
  }
  .next-button:after {
    content: '/';
    top: 0;
    left: -100%;
  }
  .next-button:hover:before,
  .next-button:hover:after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .js .next-button {
    right: -53px;
  }
  .js .next-button.show {
    right: 0;
  }
  .showheader.single-post .closecontainer,
  .page.single-post .closecontainer {
    -webkit-transform: translate3d(0, 298px, 0);
    transform: translate3d(0, 298px, 0);
  }
  .closebutton {
    border: 1px solid #afafaf;
    border-radius: 30px;
    height: 30px;
    right: 20px;
    top: 15px;
    width: 30px;
  }
  .closebutton:after {
    height: 28px;
    line-height: 28px;
    width: 28px;
  }
  .single-post .closebutton {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  .single-post .closebutton:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 0 4px #e1e1e1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .touch.single-post .closebutton:hover {
    border: 1px solid #afafaf;
    box-shadow: none;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  #portfolio.intro-transition .site:after {
    color: #eee;
    content: 'M';
    font-size: 100px;
    height: 110px;
    line-height: 110px;
    margin: -81px 0 0 -55px;
    opacity: 1;
    width: 110px;
  }

  #portfolio.single-post .arrow {
    background: 0 0;
  }
  .single-post .arrow {
    background: 0 0;
    bottom: 0;
    display: block;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    top: 52px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: left 0.3s, right 0.3s, -webkit-transform 0.3s;
    transition: left 0.3s, right 0.3s, transform 0.3s;
    width: 20px;
    z-index: 20;
  }
  .single-post .arrow:hover:after {
    opacity: 1;
  }
  .single-post .arrow:after {
    color: #fff;
    content: '>';
    font-family: 'icons';
    font-size: 30px;
    font-weight: 900;
    height: 66px;
    left: -5px;
    line-height: 66px;
    margin-top: -33px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 20px;
  }
  .touch.single-post .arrow:hover:after {
    opacity: 0.75;
  }
  .showheader.single-post .arrow,
  .page.single-post .arrow {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
  .single-post .arrow.next {
    left: 0;
  }
  .single-post .arrow.next .color {
    right: 100%;
  }
  .single-post .arrow.next:hover .color {
    right: 0;
  }
  .single-post .arrow.next:after {
    content: '<';
  }
  .touch.single-post .arrow.next:hover .color {
    right: 100%;
  }
  .single-post .arrow.previous {
    right: 0;
  }
  .single-post .arrow.previous .color {
    left: 100%;
  }
  .single-post .arrow.previous:hover .color {
    left: 0;
  }
  .touch.single-post .arrow.previous:hover .color {
    left: 100%;
  }
  .single-post .arrow .color {
    height: 100%;
    position: absolute;
    -webkit-transition: background-color 0.3s ease-in-out 0.05s, left 0.3s,
      right 0.3s;
    transition: background-color 0.3s ease-in-out 0.05s, left 0.3s, right 0.3s;
    width: 100%;
  }
  .js .single-post .arrow.next.hide {
    left: -50px;
  }
  .js .single-post .arrow.previous.hide {
    right: -50px;
  }
  .showheader .header,
  .page .header {
    height: 350px;
  }
  .js .intro .header {
    -webkit-transform: translateY(-52px);
    transform: translateY(-52px);
  }
  .header h1 {
    font-size: 28px;
    margin: 29px 0 25px;
  }
  .header .container {
    top: 135px;
  }
  .header .page:before {
    display: none;
  }
  .panels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: auto;
  }
  .js .hidehome .panels {
    opacity: 1;
  }
  .panel {
    padding-bottom: 0;
    width: 320px;
  }
  .js .intro .panel,
  .js .hidehome .panel {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .panel .excerpt {
    margin-top: 25px;
  }
  .panel .footer {
    bottom: 0;
  }
  .hover .panel:hover .footer {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .hover .panel.selected:hover .footer {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  .panel .content {
    height: 100%;
    position: absolute;
    width: 320px;
  }
  .panel .content .fixed {
    padding: 47px 40px 0;
    width: 320px;
  }
  .hover .panel {
    background-color: #373737;
    color: #666;
  }
  .hover .panel:hover,
  .hover .panel.selected {
    background-color: #888;
    color: #fff;
  }
  .hover .panel:hover .excerpt,
  .hover .panel.selected .excerpt {
    opacity: 1;
  }
  .hover .panel.shrink-right .color {
    -webkit-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
    transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
  }
  .hover .panel.shrink-left .color {
    -webkit-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
    transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
  }
  .hover .panel.expand .color {
    -webkit-transform: scaleX(1.15625) translate3d(0, 0, 0);
    transform: scaleX(1.15625) translate3d(0, 0, 0);
  }
  #portfolio .hover .decolor {
    background-color: #373737;
  }
  #portfolio .hover .decolor:hover,
  #portfolio .hover .decolor.selected {
    background-color: #888;
  }
  #portfolio .hover .offblack {
    background-color: #090909;
  }
  #portfolio .hover .offblack:hover,
  #portfolio .hover .offblack.selected {
    background-color: #181818;
  }
  #portfolio .hover .orange {
    background-color: #5d352b;
  }
  #portfolio .hover .orange:hover,
  #portfolio .hover .orange.selected {
    background-color: #e8846b;
  }
  #portfolio .hover .navy {
    background-color: #082139;
  }
  #portfolio .hover .navy:hover,
  #portfolio .hover .navy.selected {
    background-color: #16528e;
  }
  #portfolio .hover .red {
    background-color: #5c1e1e;
  }
  #portfolio .hover .red:hover,
  #portfolio .hover .red.selected {
    background-color: #e54b4b;
  }
  #portfolio .hover .lime {
    background-color: #414f4d;
  }
  #portfolio .hover .lime:hover,
  #portfolio .hover .lime.selected {
    background-color: #a2c5bf;
  }
  #portfolio .hover .green {
    background-color: #083233;
  }
  #portfolio .hover .green:hover,
  #portfolio .hover .green.selected {
    background-color: #167c80;
  }
  #portfolio .hover .blue {
    background-color: #003451;
  }
  #portfolio .hover .blue:hover,
  #portfolio .hover .blue.selected {
    background-color: #0082c8;
  }
  #portfolio .hover .purple {
    background-color: #2e272c;
  }
  #portfolio .hover .purple:hover,
  #portfolio .hover .purple.selected {
    background-color: #72616e;
  }
  .article {
    padding-top: 45px;
  }
  .single-post .article {
    padding-left: 30px;
    padding-right: 30px;
  }
  .decolor .article {
    border-left: 8px solid #888;
    border-right: 8px solid #888;
  }
  .offblack .article {
    border-left: 8px solid #181818;
    border-right: 8px solid #181818;
  }
  .orange .article {
    border-left: 8px solid #e8846b;
    border-right: 8px solid #e8846b;
  }
  .navy .article {
    border-left: 8px solid #16528e;
    border-right: 8px solid #16528e;
  }
  .red .article {
    border-left: 8px solid #e54b4b;
    border-right: 8px solid #e54b4b;
  }
  .lime .article {
    border-left: 8px solid #a2c5bf;
    border-right: 8px solid #a2c5bf;
  }
  .green .article {
    border-left: 8px solid #167c80;
    border-right: 8px solid #167c80;
  }
  .blue .article {
    border-left: 8px solid #0082c8;
    border-right: 8px solid #0082c8;
  }
  .purple .article {
    border-left: 8px solid #72616e;
    border-right: 8px solid #72616e;
  }
  .wrap404 {
    background-image: url(http://placekitten.com/g/1700/900);
  }
  .wrap404 h1 {
    font-size: 250px;
  }
}
@media (min-width: 720px) {
  .closebutton {
    border-radius: 38px;
    height: 38px;
    width: 38px;
  }
  .closebutton:after {
    height: 36px;
    line-height: 36px;
    width: 36px;
  }
  .single-post .arrow {
    width: 50px;
  }
  .single-post .arrow:after {
    font-size: 60px;
    font-weight: 500;
    opacity: 0.75;
    width: 50px;
  }
  .header h1 {
    font-size: 36px;
  }
  .header .container {
    font-size: 18px;
  }
  .header .content {
    width: 700px;
  }
  .single-post .article {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 950px) {
  .closecontainer {
    left: 50%;
    margin-left: -475px;
  }
  .decolor .article {
    border-left: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
  }
  .offblack .article {
    border-left: 5px solid #151515;
    border-right: 5px solid #151515;
  }
  .orange .article {
    border-left: 5px solid #d37861;
    border-right: 5px solid #d37861;
  }
  .navy .article {
    border-left: 5px solid #144a81;
    border-right: 5px solid #144a81;
  }
  .red .article {
    border-left: 5px solid #d04444;
    border-right: 5px solid #d04444;
  }
  .lime .article {
    border-left: 5px solid #93b3ad;
    border-right: 5px solid #93b3ad;
  }
  .green .article {
    border-left: 5px solid #147074;
    border-right: 5px solid #147074;
  }
  .blue .article {
    border-left: 5px solid #0076b6;
    border-right: 5px solid #0076b6;
  }
  .purple .article {
    border-left: 5px solid #675864;
    border-right: 5px solid #675864;
  }
}
@-webkit-keyframes next-load {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(72deg);
  }
}
@keyframes next-load {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
@-webkit-keyframes load-spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(72deg);
  }
}
@keyframes load-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
@-webkit-keyframes fly {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@keyframes fly {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@-webkit-keyframes fly-intro {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@keyframes fly-intro {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@-webkit-keyframes logo-jump {
  45%,
  55% {
    -webkit-transform: scaleY(0.75);
  }
  75% {
    -webkit-transform: scaleY(1.1) translateY(-10px);
  }
}
@keyframes logo-jump {
  45%,
  55% {
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
  }
  75% {
    -webkit-transform: scaleY(1.1) translateY(-10px);
    transform: scaleY(1.1) translateY(-10px);
  }
}
